body {
  padding-top: 73px;
  /* background-color: #f7f5ec; */
}

.icon {
  width: 7%;
  height: 7%;
}

.brand-logo {
  font-family: 'Pacifico', cursive;
  padding-left: 25px;
  font-size: 1.4rem;
}

@media only screen and (max-width: 767px) {
  .navbar-brand {
    width: 302px;
    padding-left: 3px;
    margin-right: 0;
  }
}

.form {
  padding: 3% 10%;
  background-color: #DBE6FD;
  height: 640px;
  text-align: center;
}

.form-text {
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 2px rgba(186, 186, 186, 1);
  color: grey;
  padding: 1% 40% 1%;
}

.form-data {
  padding: 5% 30% 2%;
}

select,
input {
  margin-bottom: 12px;
}

.getnotified {
  margin-top: 25px;
  margin-bottom: 10px;
}

.update-details {
  padding-top: 15px;
  color: rgb(104, 103, 103);
  font-size: 0.9rem;
}

.info-text {
  padding: 3% 0%;
  font-size: 0.9rem;
  color: rgb(104, 103, 103);
}

/* Vaccination Image  */
.coder-img {
  position: relative;
  z-index: 1;
  width: 300px;
  bottom: 20px;
}

.query {
  height: 350px;
  text-align: center;
  padding: 10% 35%;
  font-size: 0.9rem;
}

@media only screen and (max-width: 1100px) {
  body {
    padding-top: 70px;
  }

  .form-data {
    padding-left: 0%;
    padding-right: 0%;
  }

  .coder-img {
    padding-top: 10%;
  }

  .query {
    height: auto;
    text-align: center;
    padding: 15% 25% 10%;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 777px) {
  body {
    padding-top: 100px;
  }

  .form-data {
    padding-left: 0%;
    padding-right: 0%;
  }

  .coder-img {
    padding-top: 10%;
  }

  .query {
    height: auto;
    text-align: center;
    padding: 15% 25% 10%;
    font-size: 0.9rem;
  }
}

.greetingsTitle {
  font-family: 'Pacifico', cursive;
  font-size: 3.5rem;
}

.impLinks {
  font-size: 1.5rem;
  margin-left: 70px;
  margin-top: 40px;
}

.section-heading {
  border-left: 10px solid #B6C9F0;
  padding: 10px 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 700;
}

#userDetails {
  height: 1000px;
  padding-left: 90px;
  padding-top: 200px;
  padding-right: 90px;
  padding-bottom: 30px;
}

.analysisHeading {
  margin-left: 90px;
  margin-top: 30px;
  padding-top: 20px;
}

.practiceHeading {
  margin-left: 120px;
  margin-top: 30px;
}

#userProfile {
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 60px;
  background-color: #CAF7E3;
  box-shadow: 10px 10px 10px black;
}

#userAnalysis {
  height: 3500px;
  background-color: #f7f5ec;
  margin-left: 20px;
  margin-right: 20px;
}

.PracticeProblems {
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f7f5ec;
  height: auto;
}

#unsolvedProblemsContainer {
  height: 700px;
  padding-left: 90px;
  padding-top: 100px;
  padding-right: 90px;
  padding-bottom: 30px;
}

#unsolvedProblems {
  font-size: 1.5rem;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 60px;
  background-color: #CAF7E3;
  box-shadow: 10px 10px 10px black;
}

.importantLinks {
  height: 600px;
  background-color: #f7f5ec;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}

.userRatingChart {
  padding-top: 60px;
}

.ratingAndProblemChart {
  margin-left: 30px;
  margin-right: 50px;
  margin-bottom: 30px;
}

#myPieChart {
  width: 1100px;
  height: 900px;
  margin-left: 250px;
  margin-right: 50px;
  margin-bottom: 30px;
  border: 4px solid black;
  background-color: #CAF7E3;
}

#efficiencyChart {
  width: 1100px;
  height: 900px;
  margin-left: 250px;
  margin-right: 50px;
  margin-bottom: 30px;
  border: 4px solid black;
  background-color: #CAF7E3;
}

#randomQuestions {
  margin: 50px 50px 50px 50px;
  border: 3px solid black;
  font-size: 1.5rem;
}

.efficiencyTable {
  margin: 50px 50px 50px 50px;
  border: 3px solid black;
  font-size: 1.25rem;
}

/* Profile Card Section  */
.profile-container {
  padding: 3% 10% 2%;
}

.profile-cards {
  padding: 3% 20% 0%;
  height: auto;
}

@media only screen and (max-width: 650px) {
  .profile-cards {
    padding: 3% 7% 0%;
    height: auto;
  }
}

.our-team {
  padding: 40px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  width: 400px;
  height: 470px;
}

.our-team .picture {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #125D98;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #125D98;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #125D98;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #125D98;
  background-color: #f7f5ec;
}
